@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dangrek&family=Delius+Unicase&family=Inter:wght@400;500&family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #8cc461;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.hidden {
  display: none;
}

.scoreboard {
  height: 150px;
  width: 700px;
  border-radius: 13px;
  border: 4px solid #fff;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
  margin: 10px;
}
.ComVsUser {
  display: flex;
  align-items: center;
}

.comScore {
  height: 120px;
  width: 130px;
  background-color: #fff;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
}

.comScore h4 {
  color: #656565;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
}

.comScore h3 {
  color: #252525;
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}
.userScore {
  height: 120px;
  width: 130px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  padding-top: 1px;
  text-align: center;
  border-radius: 10px;
}

.userScore h4 {
  color: #656565;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 600;
  line-height: normal;
  margin-top: 5px;
}

.userScore h3 {
  color: #252525;
  text-align: center;
  font-family: Roboto;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}

.action {
  height: 250px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.actions {
  cursor: pointer;
}
.rock {
  background-image: url('images/rockbg.png');
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  margin-right: 80px;
  margin-bottom: 40px;
}

.rock img {
  position: relative;
  left: 40px;
  top: 47px;
}
.scissor {
  background-image: url('images/Scissorbg.png');
  height: 160px;
  width: 160px;

  background-repeat: no-repeat;
  margin-bottom: 2px;
}

.scissor img {
  position: relative;
  left: 62px;
  top: 50px;
}
.paper {
  background-image: url('images/paperbg.png');
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
}

.paper img {
  position: relative;
  left: 47px;
  top: 45px;
}

.line1 {
  height: 13px;
  width: 110px;
  background: rgba(0, 0, 0, 0.64);

  position: relative;
  top: 165px;
  right: 1px;
  left: 145px;
  z-index: -1;
}

.line1::before {
  content: '';
  height: 13px;
  width: 120px;
  background: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: -1;
  transform: rotate(120deg);
}

.line1::after {
  content: '';
  height: 13px;
  width: 120px;
  background: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 100px;
  right: 70px;
  z-index: -1;
  transform: rotate(-120deg);
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 105px;
}

.btn-rules {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0);
  font-size: 20px;
  font-family: Roboto;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  cursor: pointer;
  margin-right: 20px;
}

.rule-board {
  height: 350px;
  width: 300px;
  border-radius: 13px;
  border: 7px solid #fff;
  background: #004429;
  position: absolute;
  top: 290px;
  left: 1210px;
}
.rule-board h1 {
  margin: 20px;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hidden {
  display: none;
}
.game-rules {
  margin: 20px;
  font-family: Roboto;
  color: #fff;
  list-style-type: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.game-rules li {
  margin-bottom: 20px;
}

.game-rules li::before {
  content: '\25FC';
  display: inline-block;
  text-align: center;
  font-size: 10px;
  width: 7px;
  margin-left: -1em;
  color: #ffd600;
  position: relative;
  top: 5px;
}
li span {
  position: relative;
  left: 10px;
}

.exit-button {
  background-image: url('./images/exit.png');
  background-color: Transparent;
  border: none;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 310px;
  left: 250px;
  text-align: center;
  color: #fff;
  font-family: Dangrek;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  cursor: pointer;
}

.circle img {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 180px;
  width: 180px;
  z-index: -1;
}

.circle {
  position: absolute;
  top: 334px;
  left: 419px;
  height: 230px;
  width: 230px;
  z-index: -1;
  border-radius: 350px;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px 0px rgba(0, 0, 0, 0.13);
}

.circle::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: -25px;
  width: 280px;
  height: 280px;
  z-index: -2;
  border-radius: 350px;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px 0px rgba(0, 0, 0, 0.13);
}
.circle1 img {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 180px;
  width: 180px;
  z-index: -1;
}

.circle1 {
  position: absolute;
  top: 335px;
  right: 411px;
  height: 230px;
  width: 230px;
  z-index: -1;
  border-radius: 350px;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px 0px rgba(0, 0, 0, 0.13);
}
.circle1::before {
  content: '';
  position: absolute;
  bottom: -24px;
  left: -24px;
  width: 280px;
  height: 280px;
  z-index: -2;
  border-radius: 350px;
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px 0px rgba(0, 0, 0, 0.13);
}
.game-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 100px;
}
.hidden {
  display: none;
}

.User-Picked h2 {
  color: #fff;
  font-family: roboto;
  font-size: 17px;
  letter-spacing: 1.7px;
  text-align: center;
  margin-bottom: 20px;
}

.decisions {
  color: #fff;
  font-family: roboto;
  font-size: 17px;
  text-align: center;
  letter-spacing: 1.7px;
  margin-top: 120px;
}

.ComPicked h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 17px;
  letter-spacing: 1.7px;
  text-align: center;
  margin-bottom: 20px;
}

.play-again {
  background-color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 9px;
  border: 1px solid #fff;
  color: #6b6b6b;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 20px;
  cursor: pointer;
}

#rock img {
  position: relative;
  left: 40px;
  top: 47px;
}
#scissors {
  background-image: url('images/Scissorbg.png');
  height: 160px;
  width: 160px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-bottom: 2px;
}

#scissors img {
  position: relative;
  left: 62px;
  top: 50px;
}

.btn-Next {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0);
  font-size: 20px;
  font-family: Roboto;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  cursor: pointer;
}

.hurray {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 190px;
}
.hidden {
  display: none;
}

.star1 {
  position: absolute;
  left: 530px;
  top: 200px;
}
.star2 {
  position: absolute;
  bottom: 520px;
  right: 620px;
}
.star3 {
  position: absolute;
  bottom: 580px;
  left: 640px;
}
.star4 {
  position: absolute;
  bottom: 550px;
  left: 730px;
}

.star5 {
  position: absolute;
  bottom: 350px;
  left: 630px;
}

.star6 {
  position: absolute;
  top: 230px;
  right: 550px;
}

.star7 {
  position: absolute;
  top: 180px;
  right: 550px;
}
.star8 {
  position: absolute;
  bottom: 550px;
  left: 730px;
}
.star9 {
  position: absolute;
  left: 590px;
  top: 140px;
}
.cup img {
  height: 170px;
  width: 170px;
  margin-bottom: 30px;
}

.hurray h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 91px;
  font-weight: 600;
  letter-spacing: 9.1px;
}
.hurray h2 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 4.1px;
}

.hurray button {
  position: absolute;
  bottom: 40px;
  height: 44px;
  width: 174px;
  margin-top: 60px;
}

.hurray .footer-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
